@use "../../../../../../../../style/mixins.scss";
@use "../../../../../../../../style/colors.module.scss";

:global {
  .ant-table-tbody .ant-table-cell {
    white-space: nowrap;
  }
}

@include mixins.highlighted;

.group-ucl-1 {
  .team {
    background-color: colors.$ucl-primary-light;
  }

  .chess:has(.divider) {
    background-color: colors.$ucl-primary-dark;
  }

  .league {
    &-winner {
      .team {
        font-weight: bold;
      }
    }

    &-playoff-seeded {
      .team {
        background-color: colors.$ucl-secondary-light;
        font-weight: bold;
      }
    }

    &-playoff-unseeded {
      .team {
        background-color: colors.$ucl-secondary-light;
        font-style: italic;
      }
    }

    &-relegated {
      .team {
        background-color: unset;
      }
    }
  }
}

.group-ucl-2 {
  .team {
    background-color: colors.$ucl-secondary-light;
  }

  .chess:has(.divider) {
    background-color: colors.$ucl-secondary-dark;
  }
}

.group-uel-1 {
  .team {
    background-color: colors.$uel-primary-light;
  }

  .chess:has(.divider) {
    background-color: colors.$uel-primary-dark;
  }

  .league {
    &-winner {
      .team {
        font-weight: bold;
      }
    }

    &-playoff-seeded {
      .team {
        background-color: colors.$uel-secondary-light;
        font-weight: bold;
      }
    }

    &-playoff-unseeded {
      .team {
        background-color: colors.$uel-secondary-light;
        font-style: italic;
      }
    }

    &-relegated {
      .team {
        background-color: unset;
      }
    }
  }
}

.group-uel-2 {
  .team {
    background-color: colors.$uel-secondary-light;
  }

  .chess:has(.divider) {
    background-color: colors.$uel-secondary-dark;
  }
}

.group-uecl-1 {
  .team {
    background-color: colors.$uecl-primary-light;
  }

  .chess:has(.divider) {
    background-color: colors.$uecl-primary-dark;
  }

  .league {
    &-winner {
      .team {
        font-weight: bold;
      }
    }

    &-playoff-seeded {
      .team {
        background-color: colors.$uecl-secondary-light;
        font-weight: bold;
      }
    }

    &-playoff-unseeded {
      .team {
        background-color: colors.$uecl-secondary-light;
        font-style: italic;
      }
    }

    &-relegated {
      .team {
        background-color: unset;
      }
    }
  }
}

.group-uecl-2 {
  .team {
    background-color: colors.$uecl-secondary-light;
  }

  .chess:has(.divider) {
    background-color: colors.$uecl-secondary-dark;
  }
}

.group-icfc-1 {
  .team {
    background-color: colors.$icfc-primary-light;
  }

  .chess:has(.divider) {
    background-color: colors.$icfc-primary-dark;
  }
}

.group-icfc-2 {
  .team {
    background-color: colors.$icfc-secondary-light;
  }

  .chess:has(.divider) {
    background-color: colors.$icfc-secondary-dark;
  }
}
