@import "../../variables.scss";

.badge {
  display: inline-block;
  padding: 4px;
  margin: 0 2px;
  border-radius: 2px;

  &.UCL {
    background-color: $ucl;
  }

  &.UEL {
    background-color: $uel;
  }

  &.UECL {
    background-color: $uecl;
  }

  &.CWC {
    background-color: $cwc;
  }
}
