@use "../../style/colors.module.scss";
@use "../../style/variables.module.scss";

.badge {
  display: inline-block;
  box-sizing: border-box;
  padding: 4px;
  margin: 0 2px;
  border-radius: 3px;
  width: 40px;
  height: 26px;
  text-align: center;
  font-size: 12px;

  a {
    color: inherit;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  @media (min-width: variables.$screen-md) {
    font-size: 14px;
    width: 48px;
    height: 30px;
  }

  &.UCL {
    background-color: colors.$ucl-primary;
    color: colors.$ucl-background;

    a {
      &:hover,
      &:active {
        color: colors.$ucl-primary-light;
      }
    }
  }

  &.UEL {
    background-color: colors.$uel-primary;
    color: colors.$uel-background;

    a {
      &:hover,
      &:active {
        color: colors.$uel-primary-light;
      }
    }
  }

  &.UECL {
    background-color: colors.$uecl-primary;
    color: colors.$uecl-background;

    a {
      &:hover,
      &:active {
        color: colors.$uecl-primary-light;
      }
    }
  }

  &.CWC {
    background-color: colors.$cwc-primary;
    color: colors.$cwc-background;

    a {
      &:hover,
      &:active {
        color: colors.$cwc-primary-light;
      }
    }
  }

  &.ICFC {
    background-color: colors.$icfc-primary;
    color: colors.$icfc-background;

    a {
      &:hover,
      &:active {
        color: colors.$icfc-primary-light;
      }
    }
  }
}
