@use "../../../../../../../../../../style/mixins.scss" as *;
@use "../../../../../../../../../../style/colors.module.scss" as *;

.results {
  @include flex(column, flex-start, stretch);

  .match {
    @include flex(row, space-between, stretch);
    position: relative;
    min-height: 32px;

    &:not(:last-child) {
      border-bottom: 1px solid $border;
    }

    .result {
      @include flex(column, flex-start, stretch);
      flex: 1;

      &:not(:last-child) {
        border-right: 1px solid $border;
      }

      .date {
        font-size: 10px;
        padding: 1px;
      }

      .score {
        text-align: center;
      }

      &.coin {
        .score {
          font-weight: bold;
        }
      }
    }

    &.only-match {
      .result {
        border: none;
      }
    }

    .edit-button {
      position: absolute;
      top: 2px;
      right: 2px;
    }

    .add-button {
      position: absolute;
      bottom: 0;
      left: 2px;
    }
  }
}
