@import "../../../../style/variables.module.scss";

.modal {
  top: 0;

  .content {
    min-height: 100px;

    .list {
      max-height: calc(100vh - 130px);
      overflow-y: scroll;
    }
  }

  :global {
    .ant-modal-content {
      padding: 10px;
    }
  }

  @media (min-width: $screen-sm) {
    top: 10px;
  }
}
