@use "../../../../style/variables.module.scss" as *;
@use "../../../../style/mixins.scss" as *;

.modal {
  top: 0;

  .content {
    min-height: 100px;

    .list {
      max-height: calc(100vh - 130px);
      overflow-y: scroll;
      padding: 0 4px;

      .add-form {
        padding: 4px;

        .buttons {
          @include flex(row, space-between, center);

          .additional-buttons {
            button {
              margin: 0 4px;
            }
          }
        }
      }
    }
  }

  :global {
    .ant-modal-content {
      padding: 10px;
    }
  }

  @media (min-width: $screen-sm) {
    top: 10px;
  }
}
