.club-link {
  &:hover,
  &:active {
    .club {
      text-decoration: underline;
    }
  }
}

.club {
  max-width: 100%;
  padding-right: 4px;

  .flag {
    margin-right: 4px;
    display: inline-block !important;
  }

  .city {
    margin-left: 4px;
  }
}
