@use "../../../../../../../../../../style/variables.module.scss" as *;
@use "../../../../../../../../../../style/mixins.scss" as *;

.modal {
  .content {
    :global {
      .ant-form-item-row {
        justify-content: space-between;

        & > div {
          flex: unset !important;
        }
      }
    }

    .answer div {
      justify-content: center;
    }

    .group-tour {
      @include flex(row, flex-start, center);
      gap: 8px;
      font-size: 20px;
      padding-bottom: 8px;

      div {
        padding: 0;
      }

      label {
        font-size: 20px !important;
      }
    }

    .hidden-input {
      :global {
        .ant-form-item-control-input {
          min-height: unset;
        }
      }
    }

    .panels {
      @include flex(row, space-between, flex-start);

      .panel {
        width: 50%;
        @include flex(column, flex-start, center);
        flex: 1;

        .club {
          margin-bottom: 8px;
        }

        .score input {
          font-size: 20px;
        }

        :global {
          .ant-form-item-row {
            justify-content: flex-start;

            .ant-form-item-label {
              max-width: calc(100% - 20px);
              padding: 0;
            }
          }
        }
      }
    }

    .additional {
      .title {
        @include flex(row, space-between, center);
        margin: 8px 0;
      }
    }

    .force-winner > div {
      @include flex(column, flex-start, center);
    }

    .deduction {
      padding: 8px 0;
    }
  }

  :global {
    .ant-modal-content {
      padding: 10px;
    }

    .ant-segmented-item {
      max-width: 140px;
    }
  }
}
