@use "../../../../../../style/variables.module.scss";
@use "../../../../../../style/mixins.scss";
@use "../../../../../../style/colors.module.scss";

.modal {
  top: 0;

  .content {
    min-height: 100px;
    padding: 20px;
    padding-bottom: 0;

    .name {
      max-width: 400px;
    }

    .label {
      @include mixins.flex(row, space-between);
    }

    .old-name {
      width: 100%;
      position: relative;
      border-color: colors.$primaryBase;
      margin: 8px 0;

      .remove {
        position: absolute;
        top: 8px;
        right: 8px;
      }

      .old-name-container {
        @include mixins.flex(column, flex-start, stretch);

        .old-name-sub-container {
          @include mixins.flex(row, space-between);
        }

        @media (min-width: variables.$screen-md) {
          @include mixins.flex(row, flex-start, flex-start);

          .old-name-sub-container {
            gap: 10px;
          }

          .name {
            min-width: 300px;
          }
        }
      }
    }

    .footer {
      @include mixins.flex(row, space-between);
    }
  }

  :global {
    .ant-modal-content {
      padding: 10px;
    }
  }

  @media (min-width: variables.$screen-sm) {
    top: 10px;
  }
}
