@use "../../../../../../style/mixins.scss" as *;
@use "../../../../../../style/variables.module.scss" as *;

.stage {
  width: 100%;
  position: relative;
  margin: 8px 2px;

  .remove {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .container {
    @include flex(column, flex-start, flex-start);

    .divider {
      margin: 8px 0;
    }

    .stage-section {
      width: 100%;
    }

    .submit {
      @include flex(row, flex-end);
      width: 100%;
      margin-top: 8px;
    }

    @media (min-width: $screen-md) {
      @include flex(row, flex-start, flex-start);
      flex-wrap: wrap;

      .stage-section {
        width: unset;
      }

      :global {
        .ant-divider-vertical {
          height: unset;
          align-self: stretch;
        }
      }
    }
  }
}
