@use "../../style/mixins.scss" as *;
@use "../../style/colors.module.scss" as *;
@use "../../style/variables.module.scss" as *;

.layout {
  @include flex(column, flex-start, center);
  min-width: $minimal;
  background-color: transparent;

  header,
  main,
  footer {
    width: 100%;
  }

  h1 {
    padding: 0;
    margin: 0;
  }

  header {
    @include flex(row, space-between, center);

    .language-swaitcher {
      margin-right: 4px;
    }

    .menu {
      flex: 1;
      width: 100%;
    }

    .tools {
      @include flex(row, flex-start, center);
    }

    .link {
      margin: 0 6px;
      font-size: 20px;

      &-text {
        display: none;
      }
    }

    @media (min-width: $screen-sm) {
      .link {
        margin-right: 24px;
        font-size: 14px;

        &-text {
          display: inline;
        }

        span[role] {
          margin-right: 2px;
        }
      }
    }
  }

  main {
    min-height: calc(100vh - 64px - 69px);
    padding: 4px;

    &.fallback {
      @include flex(column);
    }
  }

  footer {
    text-align: center;
  }
}
