@import "../../../../../../../../style/mixins.scss";
@import "../../../../../../../../style/colors.module.scss";

table tbody td.results-cell,
table tbody td.delete {
  padding: 0 !important;

  .results {
    @include flex(column, flex-start, stretch);

    .match {
      @include flex(row, space-between, stretch);
      position: relative;

      &:not(:last-child) {
        border-bottom: 1px solid $border;
      }

      .result {
        @include flex(column, flex-start, stretch);
        flex: 1;

        &:not(:last-child) {
          border-right: 1px solid $border;
        }

        .date {
          font-size: 10px;
          padding: 1px;
        }

        .score {
          text-align: center;
        }

        &.coin {
          .score {
            font-weight: bold;
          }
        }
      }

      &.only-match {
        .result {
          border: none;
        }
      }

      .edit-button {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}

.number {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 1px !important;
}

@include highlighted;
