@use "../../../../../../../../../../style/colors.module.scss";

table.table {
  background-color: colors.$contentBg;
  border-collapse: collapse;

  tbody td {
    border: 1px solid colors.$border;
    padding: 6px;

    &.number {
      max-width: 20px;
      padding: 6px 2px;
      text-align: center;
    }
  }
}
