@use "../../style/variables.module.scss" as *;
@use "../../style/mixins.scss" as *;
@use "../../style/colors.module.scss" as *;

.container {
  max-width: $screen-xl;
  margin: 0 auto;
  padding: 10px;

  .header {
    margin-bottom: 0;
  }
}
