@use "../../../../../../../../style/variables.module.scss";
@use "../../../../../../../../style/colors.module.scss";

.card {
  .row {
    padding: 2px 0;

    &.winner {
      background-color: colors.$golden;
    }

    &.finalist {
      background-color: colors.$silver;
    }
  }

  .badge {
    width: 44px;

    @media (min-width: variables.$screen-md) {
      width: 52px;
    }
  }

  .value {
    width: calc((100% - 44px) / 2);
    white-space: nowrap;
    text-align: left;

    @media (min-width: variables.$screen-md) {
      width: calc((100% - 52px) / 2);
    }

    & > span {
      padding-inline: 2px;
    }
  }
}
