@use "../../../../style/variables.module.scss" as *;
@use "../../../../style/mixins.scss" as *;
@use "../../../../style/colors.module.scss" as *;

.modal {
  top: 0;

  .content {
    min-height: 100px;

    &.edit-UCL {
      background-color: $ucl-background;
    }

    &.edit-UEL {
      background-color: $uel-background;
    }

    &.edit-UECL {
      background-color: $uecl-background;
    }

    &.edit-CWC {
      background-color: $cwc-background;
    }

    &.edit-ICFC {
      background-color: $icfc-background;
    }
  }

  :global {
    .ant-modal-content {
      padding: 10px;
    }
  }

  @media (min-width: $screen-sm) {
    top: 10px;
  }
}
