// -- Primary --
$primaryBase: #3b3c4e;
$headerColor: #f1f1f1;
$contentBg: #fefefe;
$link: #2eaf88;
$linkActive: #09d99b;
$linkHover: #69ffb9;
$border: #d9d9d9;

// Tournaments
$ucl: #768afd;
$uel: #f8b64c;
$uecl: #26f885;
$cwc: #e48ddf;
$icfc: #beb3bd;

$mine: #b2ff6b;

$from-another-tournament: #016fc9;

:export {
  primaryBase: $primaryBase;
  headerColor: $headerColor;
  linkActive: $linkActive;
  linkHover: $linkHover;
  link: $link;
  contentBg: $contentBg;
  border: $border;
}
