// -- Primary --
$primaryBase: #3b3c4e;
$headerColor: #f1f1f1;
$contentBg: #fefefe;
$link: #2eaf88;
$linkActive: #09d99b;
$linkHover: #69ffb9;
$border: #d9d9d9;

// Tournaments
$ucl-primary: #003da5;
$ucl-primary-dark: #001842;
$ucl-primary-light: #99b1db;
$ucl-secondary: #c8102e;
$ucl-secondary-dark: #500612;
$ucl-secondary-light: #e99fab;
$ucl-background: #e6ecf6;

$uel-primary: #f6d04d;
$uel-primary-dark: #62531f;
$uel-primary-light: #fbecb8;
$uel-secondary: #004b23;
$uel-secondary-dark: #001e0e;
$uel-secondary-light: #99b7a7;
$uel-background: #fefaed;

$uecl-primary: #007a33;
$uecl-primary-dark: #003114;
$uecl-primary-light: #99caad;
$uecl-secondary: #003366;
$uecl-secondary-dark: #001429;
$uecl-secondary-light: #99adc2;
$uecl-background: #e6f2eb;

$cwc-primary: #e48ddf;
$cwc-primary-dark: #5b3859;
$cwc-primary-light: #f4d1f2;
$cwc-secondary: #c0c0c0;
$cwc-secondary-dark: #4d4d4d;
$cwc-secondary-light: #e6e6e6;
$cwc-background: #fcf4fc;

$icfc-primary: #ff4500;
$icfc-primary-dark: #661c00;
$icfc-primary-light: #ffb599;
$icfc-secondary: #00bfff;
$icfc-secondary-dark: #004c66;
$icfc-secondary-light: #99e5ff;
$icfc-background: #ffece6;

$mine: #b2ff6b;

$from-another-tournament: #016fc9;

$golden: #f7e47b;
$silver: #e0dede;
$win: #189718;
$draw: #e4ac33;
$loss: #ff1f1f;
$undefined: #7f18c4;

$coefficient-bar: #aed402;
$coefficient-line: #862c10;

:export {
  primaryBase: $primaryBase;
  headerColor: $headerColor;
  linkActive: $linkActive;
  linkHover: $linkHover;
  link: $link;
  contentBg: $contentBg;
  border: $border;
  golden: $golden;
  silver: $silver;
  win: $win;
  draw: $draw;
  loss: $loss;
  undefined: $undefined;
  coefficientBar: $coefficient-bar;
  coefficientLine: $coefficient-line;
}
