@import "./variables.module.scss";
@import "./colors.module.scss";

@mixin flex($direction: row, $justify: flex-start, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin highlighted {
  .winner {
    font-weight: bold;
  }

  .relegated {
    font-style: italic;
  }

  .mine {
    background-color: $mine;
  }

  .from-another-tournament {
    color: $from-another-tournament;
  }

  .highlighted {
    &-UCL {
      background-color: $ucl !important;
    }

    &-UEL {
      background-color: $uel !important;
    }

    &-UECL {
      background-color: $uecl !important;
    }

    &-CWC {
      background-color: $cwc !important;
    }

    &-ICFC {
      background-color: $icfc !important;
    }
  }
}
