@use "./colors.module.scss";

@mixin flex($direction: row, $justify: flex-start, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin highlighted {
  .winner {
    font-weight: bold;
  }

  .relegated {
    font-style: italic;
  }

  .mine {
    background-color: colors.$mine;
  }

  .from-another-tournament {
    color: colors.$from-another-tournament;
  }

  .highlighted {
    &-UCL {
      background-color: colors.$ucl-primary !important;
      color: #ffffff;
    }

    &-UEL {
      background-color: colors.$uel-primary !important;
    }

    &-UECL {
      background-color: colors.$uecl-primary !important;
      color: #ffffff;
    }

    &-CWC {
      background-color: colors.$cwc-primary !important;
    }

    &-ICFC {
      background-color: colors.$icfc-primary !important;
      color: #ffffff;
    }
  }
}
