@import "../../../../style/mixins.scss";
@import "../../../../style/colors.module.scss";
@import "../../../../style/variables.module.scss";

.header {
  @include flex(column);

  .title,
  .panel {
    width: 100%;
  }

  h1 {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  .panel {
    @include flex(row, space-between, center);

    .nav {
      a {
        margin: 0 4px;
        white-space: nowrap;
      }
    }
  }

  .highlight {
    @include flex(row, space-between, center);
    width: 400px;
    align-self: flex-end;
    flex-shrink: 0;
    margin: 4px;
    white-space: nowrap;

    & > div {
      width: 100%;
      margin-left: 4px;
    }
  }

  @media (min-width: $screen-lg) {
    @include flex(row, flex-start, stretch);

    .panel {
      .nav {
        a {
          margin: 0 18px;
        }
      }
    }

    .highlight {
      align-self: unset;
    }
  }
}
