@import "../../../../../../style/mixins.scss";
@import "../../../../../../style/colors.module.scss";

.participants {
  .panels {
    @include flex(row, flex-start, flex-start);

    .panel {
      width: 50%;
      min-width: 200px;
    }

    .divider {
      align-self: stretch;
      height: unset;
    }
  }

  &.UCL {
    h3 {
      .num {
        background-color: $ucl-secondary-light;
      }
    }
  }

  &.UEL {
    h3 {
      .num {
        background-color: $uel-secondary-light;
      }
    }
  }

  &.UECL {
    h3 {
      .num {
        background-color: $uecl-secondary-light;
      }
    }
  }

  &.ICFC {
    h3 {
      .num {
        background-color: $icfc-secondary-light;
      }
    }
  }
}
