@use "../../../../../../style/mixins.scss";
@use "../../../../../../style/colors.module.scss";

.participants {
  h3 {
    @include mixins.flex(row, space-between, center);
  }

  .panels {
    @include mixins.flex(row, flex-start, flex-start);

    .panel {
      width: 50%;
      min-width: 177px;
    }

    .divider {
      align-self: stretch;
      height: unset;
    }
  }

  &.UCL {
    h3 {
      .num {
        background-color: colors.$ucl-secondary-light;
      }
    }
  }

  &.UEL {
    h3 {
      .num {
        background-color: colors.$uel-secondary-light;
      }
    }
  }

  &.UECL {
    h3 {
      .num {
        background-color: colors.$uecl-secondary-light;
      }
    }
  }

  &.ICFC {
    h3 {
      .num {
        background-color: colors.$icfc-secondary-light;
      }
    }
  }
}
