@use "../../../../style/mixins.scss" as *;
@use "../../../../style/variables.module.scss" as *;

.container {
  @include flex(row, space-between, flex-start);

  .table {
    width: 100%;

    @media (min-width: $screen-md) {
      width: calc(50% - #{$panelGap}/ 2);
    }

    .cell {
      position: relative;

      .edit-city-button {
        position: absolute;
        top: 2px;
        right: 2px;

        &:hover {
          color: #000000;
          background-color: rgba($color: #000000, $alpha: 0.05);
        }
      }
    }
  }
}
