@use "../../../../style/mixins.scss" as *;
@use "../../../../style/variables.module.scss" as *;

.container {
  @include flex(row, space-between, flex-start);

  .table {
    width: 100%;

    @media (min-width: $screen-md) {
      width: calc(50% - #{$panelGap}/ 2);
    }

    .cell {
      position: relative;

      .edit-city-button {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
