@use "../../style/mixins.scss" as *;
@use "../../style/variables.module.scss" as *;
@use "../../style/colors.module.scss" as *;

.panel {
  @include flex(row, flex-end, flex-start);
  padding: 8px 4px;
  background-color: $contentBg;
  width: calc(50% - #{$panelGap}/ 2);
  position: relative;
  margin-bottom: 40px;

  .close-button {
    position: absolute;
    top: 4px;
    right: 4px;
  }

  @media (min-width: $screen-lg) {
    padding: 8px 4px;
  }
}
