@use "../../style/mixins.scss";
@use "../../style/variables.module.scss";
@use "../../style/colors.module.scss";

.panel {
  @include mixins.flex(row, flex-end, flex-start);
  padding: 8px 4px;
  background-color: colors.$contentBg;
  width: calc(50% - #{variables.$panelGap}/ 2);
  position: relative;
  margin-bottom: 40px;

  .close-button {
    position: absolute;
    top: 4px;
    right: 4px;
  }

  @media (min-width: variables.$screen-lg) {
    padding: 8px 4px;
  }
}
