@use "../../../../style/mixins.scss" as *;

.tools {
  @include flex(row, flex-start);
  gap: 8px;
  margin-bottom: 8px;

  label {
    margin-inline-end: 4px;
  }
}

.item-number {
  margin-inline-start: 4px;
  color: rgba($color: #000000, $alpha: 0.5);

  &::before {
    content: "(";
  }

  &::after {
    content: ")";
  }
}

:global {
  .ant-table-tbody .ant-table-cell {
    white-space: nowrap;
  }
}
