@use "../../../../style/mixins.scss";
@use "../../../../style/variables.module.scss";
@use "../../../../style/colors.module.scss";

.stage {
  width: 100%;
  position: relative;
  border-color: colors.$primaryBase;

  .remove {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .plus {
    position: absolute;
    bottom: -12px;
    right: 40px;
  }

  .container {
    @include mixins.flex(column, flex-start, flex-start);
    margin-top: 20px;

    .stage-section {
      width: 100%;
    }

    .linked-tournament {
      margin-top: 12px;
    }

    @media (min-width: variables.$screen-md) {
      @include mixins.flex(row, flex-start, flex-start);
      flex-wrap: wrap;

      .stage-section {
        width: unset;
      }

      :global {
        .ant-divider-vertical {
          height: unset;
          align-self: stretch;
        }
      }
    }
  }
}
