@import "../../../../../../style/mixins.scss";
@import "../../../../../../style/variables.module.scss";

.selectors {
  margin: 4px 0;

  .country {
    @include flex;
  }
}

.buttons {
  @include flex(row, space-between, center);
}

@media (min-width: $screen-sm) {
  .selectors,
  .selectors .participant {
    @include flex(row, space-between, center);

    & > div {
      width: 50%;
      margin-left: 5px;

      &:first-of-type {
        margin-right: 5px;
        margin-left: 0;
      }
    }
  }

  .selectors {
    & > div:first-of-type {
      width: 75%;
    }

    & > div:last-of-type {
      width: 25%;
    }
  }

  .add-club {
    @include flex(row, space-between, flex-start);

    & > div {
      width: 33%;
    }
  }
}
