@use "../../../../../../../../../../style/variables.module.scss";
@use "../../../../../../../../../../style/colors.module.scss";

.modal {
  top: 0;

  .content {
    min-height: 100px;

    table.table {
      background-color: colors.$contentBg;
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;

      tbody td {
        border: 1px solid colors.$border;
        padding: 6px;
      }
    }
  }

  :global {
    .ant-modal-content {
      padding: 10px;
    }
  }

  @media (min-width: variables.$screen-sm) {
    top: 10px;
  }
}
