@use "../../../../../../../../../../../../style/colors.module.scss";

.result {
  padding: 0 !important;
  vertical-align: top;
  width: 60%;

  table.result-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

    tbody {
      tr {
        td {
          border: none !important;

          &.score {
            width: 72px;

            .number {
              max-width: 30px;
            }
          }

          &.more,
          &.delete {
            vertical-align: middle;
            width: 16px;
            text-align: center;
          }

          &.more {
            width: 14px;
            padding: 0;
          }

          &.date {
            :global {
              .ant-picker-input input {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
