@use "../../style/colors.module.scss";

.tournament {
  &-UCL main {
    background-color: colors.$ucl-background;
  }

  &-UEL main {
    background-color: colors.$uel-background;
  }

  &-UECL main {
    background-color: colors.$uecl-background;
  }

  &-CWC main {
    background-color: colors.$cwc-background;
  }

  &-ICFC main {
    background-color: colors.$icfc-background;
  }
}

.collapse-header:hover {
  background-color: rgba($color: #000000, $alpha: 0.1);
}
