@use "../../style/colors.module.scss";
@use "../../style/mixins.scss";
@use "../../style/variables.module.scss";

.header {
  @include mixins.flex(column);

  .title {
    @include mixins.flex(row, flex-start);

    img {
      display: none;
      margin-right: 8px;
    }
  }

  .title {
    width: 100%;
  }

  h1 {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  @media (min-width: variables.$screen-md) {
    .title img {
      display: inline-block;
    }
  }

  @media (min-width: variables.$screen-xl) {
    @include mixins.flex(row, flex-start, center);
  }
}

.tournament {
  &-UCL main {
    background-color: colors.$ucl-background;
  }

  &-UEL main {
    background-color: colors.$uel-background;
  }

  &-UECL main {
    background-color: colors.$uecl-background;
  }

  &-CWC main {
    background-color: colors.$cwc-background;
  }

  &-ICFC main {
    background-color: colors.$icfc-background;
  }
}
