@import "../../../../../../style/variables.module.scss";

.matches {
  :global {
    .ant-table-tbody th.ant-table-cell {
      white-space: nowrap;
    }
  }

  h3 {
    display: none;
  }

  @media (min-width: $screen-md) {
    h3 {
      display: block;
    }
  }
}
