@use "../../../../../../style/mixins.scss";
@use "../../../../../../style/colors.module.scss";

.clubs {
  @include mixins.flex(row);
  gap: 6px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  & > li.clubs-item {
    padding: 2px 2px 2px 8px;
    background-color: colors.$headerColor;
    border: 1px transparent solid;
    border-radius: 3px;
    margin: 0;

    .club + .edit-button {
      margin-left: 2px;

      &:hover {
        color: #000000;
        background-color: rgba($color: #000000, $alpha: 0.05);
      }
    }

    &:hover,
    &.active {
      border-color: colors.$border;

      span {
        text-decoration: underline;
      }
    }

    &.active {
      .club {
        pointer-events: none;
      }
    }
  }

  .club {
    cursor: pointer;
  }
}

.plus-button {
  position: absolute;
  right: 4px;
  bottom: 4px;
}
