@use "../../../../style/variables.module.scss";
@use "../../../../style/mixins.scss";

.modal {
  top: 0;

  .content {
    min-height: 100px;

    & > form {
      display: block;
    }

    .stages-header {
      @include mixins.flex(row, space-between);
    }

    .stage {
      @include mixins.flex(column);
      row-gap: 16px;
    }
  }

  :global {
    .ant-modal-content {
      padding: 10px;
    }
  }

  @media (min-width: variables.$screen-sm) {
    top: 10px;
  }
}
