@use "../../../../../../style/colors.module.scss";
@use "../../../../../../style/mixins.scss";

.root {
  @include mixins.flex(row, space-between, stretch);
  margin-bottom: 20px;
  padding: 8px 20px 8px 2px;
  background-color: colors.$contentBg;
  border-top: 1px solid colors.$primaryBase;

  .title {
    @include mixins.flex(row);

    .flag {
      margin-right: 6px;
    }

    h3 {
      margin: 0 0 0 10px;
    }
  }

  .number {
    white-space: nowrap;
    padding: 0 6px;
  }

  .panel {
    @include mixins.flex(row);
    flex-wrap: nowrap;
  }
}
