@use "../../../../../../style/colors.module.scss" as *;
@use "../../../../../../style/mixins.scss" as *;

.root {
  @include flex(row, space-between, stretch);
  margin-bottom: 20px;
  padding: 8px 20px 8px 2px;
  background-color: $contentBg;
  border-top: 1px solid $primaryBase;

  .title {
    @include flex(row);

    .flag {
      margin-right: 6px;
    }

    h3 {
      margin: 0 0 0 10px;
    }
  }
}
