.add-participant {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;

  .control {
    margin-right: 5px;

    label {
      margin-bottom: 0;
      height: 100%;

      & > div,
      input {
        margin-top: 0;
      }
    }
  }

  .button {
    margin-left: auto;
  }
}
