@use "../../../../style/mixins.scss";
@use "../../../../style/variables.module.scss";

.content {
  &.panels {
    @include mixins.flex(row, space-between, flex-start);
  }

  .divider {
    display: none;
  }

  .results {
    @include mixins.flex(row, space-between, flex-start);
  }

  @media (min-width: variables.$screen-md) {
    .divider {
      display: block;
      align-self: stretch;
      height: unset;
    }
  }

  @media (min-width: variables.$screen-lg) {
    justify-content: flex-start;

    & > div:first-of-type {
      max-width: 500px;
    }
  }
}
