@use "@blueprintjs/core/lib/scss/variables" as *;

.participants-table {
  position: relative;

  &-button {
    position: absolute;
    bottom: -24px;
    left: 0;
  }
}

.club-cell {
  font-weight: bold;
}

.club-selector {
  &-button {
    min-height: 24px;
    min-width: 120px;
    line-height: 24px;
    font-size: 12px;
    padding: 0 5px;
    justify-content: flex-start;
  }
}

.tools-cell {
  padding: 0 1px;
}

.from-another-tournament {
  color: $gray3;
}
