@import "../../style/variables.module.scss";
@import "../../style/mixins.scss";
@import "../../style/colors.module.scss";

.container {
  max-width: $screen-xl;
  margin: 0 auto;
  padding: 10px;

  .header {
    @include flex(column, flex-start, stretch);
    margin-bottom: 20px;
    padding: 8px 20px 4px;
    background-color: $contentBg;

    .buttons {
      @include flex(row, flex-start, center);
      gap: 20px;
    }

    .slider-skeleton {
      margin: 8px 0;
    }
  }

  .body {
    @include flex(row, space-between, flex-start);
    gap: 20px;

    .timeline {
      @include flex(column, flex-start, stretch);
      flex: 1;
      max-width: 400px;
      min-height: 400px;
      padding: 8px 4px;
      background-color: $contentBg;

      .spin {
        line-height: 300px;
        width: 100%;
      }

      @media (min-width: $screen-lg) {
        max-width: 600px;
      }
    }

    .winners {
      @include flex(row, flex-end, flex-start);
      padding: 8px 4px;
      background-color: $contentBg;
      min-width: 328px;
      position: relative;

      .close-button {
        position: absolute;
        top: 4px;
        right: 4px;
      }

      @media (min-width: $screen-lg) {
        padding: 8px 4px;
      }
    }
  }
}
