@import "../../style/variables.module.scss";
@import "../../style/mixins.scss";

.container {
  max-width: $screen-xl;
  margin: 0 auto;
  padding: 10px;

  .header {
    @include flex(column, flex-start, stretch);
    margin-bottom: 20px;

    .buttons {
      @include flex(row, flex-start, center);
      gap: 20px;
    }
  }

  .body {
    @include flex(row, space-between, flex-start);
    gap: 20px;

    .timeline {
      max-width: 400px;

      .spin {
        line-height: 300px;
        width: 100%;
      }

      @media (min-width: $screen-lg) {
        max-width: 600px;
      }
    }

    .winners {
      @include flex(row, flex-end, flex-start);
    }
  }
}
