@import "../../style/variables.module.scss";
@import "../../style/mixins.scss";
@import "../../style/colors.module.scss";

.container {
  max-width: $screen-xl;
  margin: 0 auto;
  padding: 10px;

  .header {
    padding-bottom: 4px;

    .buttons {
      @include flex(row, flex-start, center);
      gap: 20px;
    }

    .slider-skeleton {
      margin: 8px 0;
    }
  }

  .body {
    @include flex(row, space-between, flex-start);
    gap: 20px;

    .timeline {
      @include flex(column, flex-start, stretch);
      flex: 1;
      padding: 16px 4px 8px;
      background-color: $contentBg;
      width: 100%;

      .spin {
        line-height: 300px;
        width: 100%;
      }

      @media (min-width: $screen-md) {
        width: calc(50% - #{$panelGap}/ 2);
      }

      @media (min-width: $screen-lg) {
        max-width: 600px;
      }
    }
  }
}
