@use "../../../../../../style/variables.module.scss";
@use "../../../../../../style/mixins.scss";
@use "../../../../../../style/colors.module.scss";

.matches {
  .groups {
    @include mixins.flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    gap: 12px;

    .group {
      flex: 0;
      border: 1px solid colors.$border;
      padding: 2px;

      h4 {
        margin-top: 0;
      }

      .divider {
        margin-top: 2px;
      }
    }

    h3 {
      display: none;
    }

    .tour-title {
      margin: 0;
    }

    @media (min-width: variables.$screen-md) {
      h3 {
        display: block;
      }
    }

    @media (min-width: variables.$screen-lg) {
      flex: 0;
    }
  }

  &.UCL {
    .groups .group {
      border-color: colors.$ucl-primary-light;

      h4:not(.tour-title) {
        background-color: colors.$ucl-secondary-light;
      }
    }
  }

  &.UEL {
    .groups .group {
      border-color: colors.$uel-primary-light;

      h4:not(.tour-title) {
        background-color: colors.$uel-secondary-light;
      }
    }
  }

  &.UECL {
    .groups .group {
      border-color: colors.$uecl-primary-light;

      h4:not(.tour-title) {
        background-color: colors.$uecl-secondary-light;
      }
    }
  }

  &.ICFC {
    .groups .group {
      border-color: colors.$icfc-primary-light;

      h4:not(.tour-title) {
        background-color: colors.$icfc-secondary-light;
      }
    }
  }
}
