@import "../../../../../../style/variables.module.scss";
@import "../../../../../../style/mixins.scss";
@import "../../../../../../style/colors.module.scss";

.matches {
  h3 {
    display: none;
  }

  .tour-title {
    margin: 0;
  }

  @media (min-width: $screen-md) {
    h3 {
      display: block;
    }
  }

  @media (min-width: $screen-lg) {
    flex: 0;
  }
}
