@import "../../../../../../style/mixins.scss";
@import "../../../../../../style/colors.module.scss";

.clubs {
  @include flex(row);
  gap: 6px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    padding: 2px 8px;
    background-color: $headerColor;
    border: 1px transparent solid;
    border-radius: 3px;
    margin: 0;

    &:hover,
    &.active {
      border-color: $border;

      span {
        text-decoration: underline;
      }
    }

    &.active {
      .club {
        pointer-events: none;
      }
    }
  }

  .club {
    cursor: pointer;
  }
}

.plus-button {
  position: absolute;
  right: 4px;
  bottom: 4px;
}
